[2017-05-09 09:38] macklus opened #914 "Allow use only email (but not username)"
### What steps will reproduce the problem?
Currently, you need to complete username and email to create one user. Plus, when you log in form social networks like facebook, a form appears asking for your username.

### What is the expected result?
when you configure it (maybe a sameUserAndEmail option on module config?) the system uses email as username, so you need to complete it on any form

###

[2017-05-09 20:47] faenir commented on #903
I would be happy to help, but I'm not sure that my knowledge will be enough.

[2017-05-10 08:47] MKiselev opened #915 "Wrong length of username field for pgsql DB"
### What steps will reproduce the problem?
Apply module migrations into PostgreSQL database.

### What is the expected result?
That `username` field length will be 255.

### What do you get instead?
`username` field length is 25

### Additional info
This commit line was make BC break:

https://github.com/dektrium/yii2-user/commit/5904d14a435247ee146fdba70b98c036c85dae4c#diff-25ad4e09bec7ff00263cfe

[2017-05-10 08:50] MKiselev opened #916 "Drop old sessions after password change"
### What steps will reproduce the problem?
Login use account password.
Change password on another tab/window.
Reload first tab/window.

### What is the expected result?
In first page session was dropped.

### What do you get instead?
In first page session was not dropped.

[2017-05-10 09:35] SamMousa opened #917 "Finder should use closure in DI config."
Current code:
[code]

This is not lazy; all those query objects will get instantiated regardless of whether any of them are used.
Instead use a closure:
[code]

[2017-05-10 13:20] smilemd commented on #903
I don't have too much time but I could help from time to time.

[2017-05-11 07:05] MKiselev commented on #915
@thiagotalma What's better? Edit an existing migration or add a new?

[2017-05-11 12:55] TonisOrmisson opened #919 "Include username & url in welcome email"
For any sites disabling user self-registrations it would be useful to have the username and site url also in the welcome e-mail.

[2017-05-11 14:07] tsdogs commented on #903
I use it also in many projects so keeping it maintained would be great.
:+1:

[2017-05-11 15:09] SamMousa commented on #903
@thiagotalma I can help out with reviewing.
Might be smart to separate 2 types though.
1. Code quality.
2. Direction of the project.

I'm confident I can review for quality, but I am not close enough to you guys to understand what you want in terms of future for the project.

Of course, if we review the code quality then the other one might take less time :)

[2017-05-11 16:06] techie42 opened #920 "Cannot override the "username" regular expression in custom "User" model"
In the function "generateUsername()" around line 506 in the "User" model, the following code exists:

`
// valid email addresses are less restricitve than our

// valid username regexp so fallback to 'user123' if needed:
        if (!preg_match(self::$usernameRegexp, $username)) {
            $username = 'user';
        }
`

However, I would suggest that "self::" should be replaced with "static::"

[2017-05-11 17:21] cerqueiranews opened #921 "syntax error, unexpected '::' (T_PAAMAYIM_NEKUDOTAYIM)"
### What steps will reproduce the problem?
Access user/admin/index
### What is the expected result?
List user
### What do you get instead?
Error
### Additional info
Error on line 96 on dektrium\user\models\UserSearch
I corrected by changing
$table_name = $query->modelClass::tableName();
to
$model = $query->modelClass;
$table_name = $model::tableName();

| Q                 | A
| -----------------

[2017-05-12 07:35] philippfrenzel commented on #903
Hi, looks like we might have enough people to step into the job - what are the next steps?

[2017-05-12 09:49] thyseus commented on #903
In my opinion, the first step for reaching an 1.0.0 release will be to finish https://github.com/dektrium/yii2-user/issues/755 . I don´t know if @dmeroff has already started this or if need to do it 'from scratch'. @thiagotalma do you know more ?

[2017-05-12 10:14] bscheshirwork commented on #903
I have some tests (acceptance, functional) for this module in https://github.com/bscheshirwork/yii2-app-advanced-rbac/tree/master/backend/tests and https://github.com/bscheshirwork/yii2-app-advanced-rbac/tree/master/frontend/tests

[2017-05-12 12:56] alvaropineda commented on #921
same here

[2017-05-12 16:15] tsdogs commented on #903
Imho before discussing on code and functionality the fork shoul be arranged.
I'd create a group on github in which create the fork an set up the users that have commit permissions (so if dmeroff will ever come back could join the development)
Then the namespaces should be fixed accordingly and a new package on packagiest created.

I'd suggest to arrange an irc session to discuss all this (timezone

[2017-05-12 18:18] thyseus commented on #903
+1 irc i am flexible

[2017-05-14 09:42] thyseus commented on #921
Seems to be my fault. It's introduced here: https://github.com/dektrium/yii2-user/pull/905/files#diff-6d2e196a503baa701d108fb03201a729R99

Fix: https://github.com/dektrium/yii2-user/compare/master...thyseus:patch-2

@thiagotalma please merge :)

[2017-05-14 09:45] thyseus commented on #919
You can override the outgoing e-mails by providing an mail/ directory in your application. See https://github.com/dektrium/yii2-user/blob/master/docs/overriding-views.md - explanation is valid for views and email templates.

[2017-05-14 09:48] thyseus commented on #903
Just a first random proposal: How about Tuesday, 23. May 10:00 GMT time?

[2017-05-14 10:08] SamMousa commented on #903
That's 8am for me, but I'll be there! 8-) what channel / server

[2017-05-14 10:29] thyseus commented on #903
Great! irc.freenode.net #yii2-user

[2017-05-14 17:06] TonisOrmisson commented on #919
Thanks.
Yes I know about overriding things.

I was just using the module out of the box for a simple application for which I really did not want to overcomplicate things in starting to customize the user module. It just seemed like a good idea to include the login URL and username in the welcome e-mail by default.

It is essential to have that if you use the module with registration disallowed. An

[2017-05-14 20:39] philippfrenzel commented on #903
If I should join I can make it ;)

Von meinem iPhone gesendet

[2017-05-15 04:02] thyseus commented on #919
Ok, i agree that providing the username and e-mail does make sense in the activation e-mail. It should be inside the default template.

[2017-05-15 13:33] macklus opened #922 "Web site documentation show Error 512"
### What steps will reproduce the problem?

Open https://yii2-user.dektrium.com/site/docs in your web browser

### What is the expected result?

Dektrium docs

### What do you get instead?

Error (#512)
An internal server error occurred.
The error occurred while the Web server was processing your request.

Please contact us if you think this is a server error. Thank you.

[2017-05-15 14:25] tsdogs commented on #903
ok, will try to be there too.

[2017-05-15 16:02] yepes opened #923 "Override email template"
Is it possible to override the email template (content) the same way we do with normal files?

### What steps will reproduce the problem?
Edited yii config file
[code]
and I have created views/mail/welcome.php

### What is the expected result?
Send the overridden template

### What do you get instead?
View not Found – yii\base\ViewNotFoundException
The view file does not exist: [...]/views/user/ma

[2017-05-16 06:01] SamMousa commented on #903
Hmm, it seems I'm a week early :D

[2017-05-16 09:59] tsdogs commented on #903
and 4 hours too :-P
BTW I suppose that's 10:00 AM GMT right?

[2017-05-16 10:57] thyseus commented on #903
Indeed, i tried to make a big buffer so we can collect everyone interested.

Yes AM: Tuesday, 23. May 10:00 AM GMT

[2017-05-16 19:28] philippfrenzel commented on #903
👍  was preparing to see online and realized it's next week ... :)

[2017-05-18 21:32] blacksesion opened #924 "problem get table name in ModelSearch"
in new version of yii2 i have the error

cause by:
`$table_name = $query->modelClass::tableName();`

this solution works for me
`$model = new $query->modelClass;
        $table_name = $model::tableName();`

[2017-05-19 15:27] IgnitedCoder opened #925 "Followed this Doc for Profile name field"
### What steps will reproduce the problem?

https://github.com/dektrium/yii2-user/blob/master/docs/adding-profile-fields-to-registration-form.md

### What is the expected result?

Name field as part of the Registration Form

### What do you get instead?

Exception (Unknown Property) 'yii\base\UnknownPropertyException' with message 'Getting unknown property: dektrium\user\models\RegistrationForm::n

[2017-05-19 15:42] krethjr commented on #485
Adding the "use" statement to my refering models solved the issue for me.  In this case, I had a model called "Orders" with an OrderedBy_User column with a referential index back to the users table.
`<?php

namespace app\models;

use Yii;
use dektrium\user\models\User;

/**
 * This is the model class for table "orders".`
Jim

[2017-05-19 18:45] IgnitedCoder commented on #925
Solved... Apologies, did not Map the class in config.

[2017-05-19 18:45] #925 closed

[2017-05-19 20:32] klikin opened #926 "Recovery token without user_id"
Hi:

Is there anyway to override the creation of the recovery URL to NOT show the user_id ?

I think it's not right to do this. I know how to change it in the code, but I wonder if there's any way to override in a cleaner way.

Thank you

[2017-05-19 21:02] klikin commented on #926
Basically my change is:

yii2-user/models/Token.php:69
- return Url::to([$route, 'id' => $this->user_id, 'code' => $this->code], true);
+ return Url::to([$route, 'code' => $this->code], true);
and

yii2-user/controllers/RecoveryController.php:150
- $token = $this->finder->findToken(['user_id' => $id, 'code' => $code, 'type' => Token::TYPE_RECOVERY])->one();
+ $token = $this->finder->findToken(['co

[2017-05-23 06:04] SamMousa commented on #903
@tsdogs Only now do I read your reply... Timezones, don't like 'm... See you guys in 4 hours ;-)

[2017-05-23 10:41] SamMousa commented on #926
I agree, this should be changed. We are creating a fork as we speak.
Would you care to submit a PR there? @klikin

[2017-05-23 10:43] SamMousa commented on #924
http://php.net/manual/en/migration70.incompatible.php#migration70.incompatible.variable-handling.indirect

@blacksesion We are creating a fork of this project, would you care to submit a PR?

[2017-05-23 10:45] SamMousa commented on #920
@techie42 Would you care to create a PR?
Please direct it here: https://github.com/dabilite/yii2-user

That is a community driven fork we're starting.

[2017-05-23 10:49] SamMousa commented on #896
The usual way this works is that a new session causes all old session to be cleaned up.

[2017-05-23 11:07] SamMousa commented on #917
https://github.com/dabilite/yii2-user/issues/3

[2017-05-23 11:07] #917 closed

[2017-05-23 11:10] SamMousa commented on #919
@TonisOrmisson would you care to submit a PR?
Please direct it here: https://github.com/dabilite/yii2-user

[2017-05-23 11:13] SamMousa commented on #883
@tsdogs Does the company for this specific use case support +-addressing?
If so, you could use that.
Many services / servers supporting something like this: http://fieldguide.gizmodo.com/how-to-use-the-infinite-number-of-email-addresses-gmail-1609458192

I'm not in favor of having this built-in, I think it is a rare use case and not one that should be supported in the core.

[2017-05-23 13:18] tsdogs commented on #903
Just to make other people aware, we started a fork which in our wishes would only be useful to do faster development/inclusion/testing, not a replacement of this projects in the long time. [1]

Everybody is welcome to participate.
To use the new specific repository please see [2]

[1] https://github.com/dabilite/yii2-user
[2] https://snippets.khromov.se/composer-use-your-own-fork-for-a-package/

[2017-05-23 13:20] philippfrenzel commented on #903
Hey, why 4 Hours, thought we start in around 9 hours from now???

[2017-05-23 13:36] klikin commented on #926
I'm going to do it with my personal user, this is company account ;-)

[2017-05-23 13:43] adantart commented on #926
Done it ! ;-)

[2017-05-23 14:36] thyseus commented on #903
Seems like we missed the AM/PM wrong, the irc meeting was some hours ago. We want to do it regularly, maybe once a week. @philippfrenzel we missed you :) but next time we will do it together !! Whats your opinion about our fork?

[2017-05-23 14:53] philippfrenzel commented on #903
Hey, well I didn't miss you, as I thought it will be this evening *g* - so knowing this - I'm very sorry! So pls. next time I need a time sayin 9am CET ... lol
Anyway about the fork - I'm fine with everything that keeps code quality, respects user opinions and get's maintained! So I'll take a look at this closer this evening!  @thyseus

[2017-05-23 15:56] tsdogs commented on #903
@philippfrenzel well that would have been 12 PM CET (midday) = 10 AM GMT (CET is UTC+2, GMT is UTC in practice)
https://time.is/GMT
Anyway if it's ok for evetybody next meeting will be on IRC on the 30th may 2017 10:00 GMT (or UTC as u prefer), (that would be 12 PM CET (midday, NOT midnight :-) ) as most of us are on CET)

I've opened a new Issues on the "fork" so coordination can be done there.
h

[2017-05-25 18:06] diegotejadav commented on #921
@thiagotalma is this commit https://github.com/thyseus/yii2-user/commit/230b28b68e57105d60a4ae42fc9fcc697ad58758 already merged? I need it please!

[2017-05-30 15:55] pablonunez-dev commented on #923
You need two files on your mail/layout folder,  one called html.php and other called text.php.

For testing copy that files from vendor\dektrium\yii2-user\views\mail\layouts to your custom mail folder.

[2017-05-30 19:37] dead142 commented on #576
I hadsame problem, so I haven't `profile` in database for `user`) When I add `profile `problem was solved'/

[2017-05-31 14:15] cgernert commented on #921
In my solution I only replaced the double colons with the **_->_** operator (PHP 5 syntax).
#933

[2017-06-03 11:06] mattheobjornson opened #934 "Typo in update_tables migration"
### What steps will reproduce the problem?
yii migrate/down all

### What is the expected result?
Migration succeeds

### What do you get instead?
Exception

``
create unique index {{%user_recovery} on {{%user}} (id, recovery_token) ...Exception 'yii\db\Exception' with message 'SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corre

[2017-06-06 21:33] pedroponte opened #936 "How to check if user is admin?"
### What steps will reproduce the problem?
E.G. Yii::$app->user->isAdmin
### What is the expected result?
true / false
### What do you get instead?
function not available
### Additional info

| Q                 | A
| ----------------- | ---
| Yii2 version      |
| Yii2-user version |
| PHP version       |

[2017-06-07 08:09] vietnux commented on #386
tôi cũng gặp vấn đề này???

[2017-06-07 12:16] andrewpros commented on #914
Been looking for this, anyone made custom changes for now?

[2017-06-07 12:58] maxxer commented on #914
I managed to do this by overriding some models and controllers, quite easy. I meant to write an howto but still haven't had the time.

Basically I've done this (but I need no registration or anything else):
[code]
In case you want registration you need to override views in order to remove the *username* field, and probably something else

[2017-06-07 13:19] andrewpros commented on #914
@maxxer Great, thx.

[2017-06-11 16:36] omer-sds commented on #934
+1 for the post I also received the same when i ran migrate/down all

[2017-06-11 17:16] omer-sds opened #938 "How to override urlRules in the Module"
I want to override the urlRules in the modules could not find anything in the documentation, why i want to override them is because the client wants the profile page to be displayed like
`www.example.com/user/username` rather than `www.example.com/user/user_id` , so i guess i have to override the `ProfileController` and the first urlRule in the `Module.php` file  which is this line
[code]
to somet

[2017-06-11 17:59] omer-sds commented on #938
sorry found the previous post about the same thing
https://github.com/dektrium/yii2-user/issues/732

[2017-06-11 17:59] #938 closed

[2017-06-14 21:35] omer-sds opened #939 "Correction in Documentation"
In the topic "**Authentication via social networks**" [link](https://github.com/dektrium/yii2-user/blob/0.9.12/docs/social-auth.md#how-to-access-social-network-attributes)  has the last line to dcode the logged in users facebook accounts attributes is  `// Yii::$app->identity->user->accounts['facebook']->decodedData` where as it should be `//Yii::$app->user->identity->accounts['facebook']->decoded

[2017-06-15 23:17] omer-sds opened #940 "Allowing dot in urlmanager"
### What steps will reproduce the problem?
override Yii2-user Module's `UrlRule` `'<id:\d+>' => 'profile/show',` in your `frontend/config/main.php`
to the following
[code]
create a user with a username WITHOUT **dot** `.` like omeraslam, johnnash e.t.c  and create a url in the following way

`<?= Yii::$app->urlManager->createUrl ( ['user/profile/show' , 'username' => Yii::$app->user->identity->use

[2017-06-17 15:06] pravda1979 commented on #934
+1 for the post I also received the same when i ran migrate/down all

[2017-06-19 17:04] paskuale75 commented on #755
An empty repository ??

[2017-06-20 05:16] Derrickntemi opened #941 "I get the following error when I try to assign a permission to a user"
After creating  a user, I tried assigning permissions to the user and I got the following errror:
An Error occurred while handling another error:
exception 'ReflectionException' with message 'Method yii\rbac\DbManager::getItemsByUser() does not exist'

| Q                 | A
| ----------------- | ---
| Yii2 version      | 2
| Yii2-user version | 1.0.0-alpha@dev
| PHP version       | 5.6.3

[2017-07-01 16:34] nfacha opened #944 "Missing "at""
Missing at in property declaration in User model:
[code]

Should be:
[code]

[2017-07-02 09:30] luckyalexandr commented on #520
After delete `user` from `component`

[2017-07-03 10:11] faenir commented on #520
If you see this error, it means the module is installed incorrectly.

[2017-07-04 08:40] bscheshirwork commented on #944
I think this break BC

[2017-07-10 13:54] Taposhi opened #945 "Yii2-user registration via social account getting error"
Hi,

I'm trying to implement User registration via social media like facebook, google plus using Yii2-user. I follow this [documentation](https://github.com/dektrium/yii2-user/blob/master/docs/social-auth.md) .

I'm using Yii2 advance template. Now after all setup, when I click on facebook icon in signup page, its getting an error
 **Argument 1 passed to {closure}() must be an instance of AuthEven

[2017-07-12 08:51] dhanyweb commented on #945
i have the same problem.

[2017-07-12 09:01] dhanyweb commented on #945
solved. just add these code

use dektrium\user\events\AuthEvent as AuthEvent;

[2017-07-12 14:13] maxiz22 commented on #924
i get the same problem

[2017-07-13 08:16] Taposhi commented on #945
:) Thanks

[2017-07-16 06:21] Taposhi opened #946 "cann't login from backend with same credential"
Hi,

I'm trying to use Yii2-user in my app. I'm using Yii2 Advance template. in yii2-user advance template has a different congratulation for different access. I follow this [documentaion](https://github.com/dektrium/yii2-user/blob/master/docs/usage-with-advanced-template.md).

Now the problem is , I can register and login in fronted properly. But when I try to login in backed with same credential

[2017-07-17 05:29] Taposhi commented on #946
solved
remove 'admin' from  path
 'components' => [
        'user' => [
            'identityCookie' => [
                'path'     => '/',
            ],
        ],
        'session' => [
            'cookieParams' => [
                'path'     => '/',
            ],
        ],
]

[2017-07-17 13:54] faenir commented on #903
https://github.com/2amigos/yii2-usuario

[2017-07-18 09:30] #946 closed

[2017-07-20 02:28] abedalzain commented on #924
https://github.com/dektrium/yii2-user/issues/921

[2017-07-20 09:24] cgernert commented on #924
Could you please create a pull request

[2017-07-20 09:24] cgernert commented on #921
Could you please create a pull request

[2017-07-27 08:55] mateuszmalek commented on #844
@rrhyne Could you tell me what changes have you made to make it working?

[2017-07-27 09:01] mateuszmalek commented on #874
@ferllings Could you tell me what do you actually changed in your config file to get it working?

[2017-07-28 01:34] MiloudEloumri opened #948 "yii2-user/models/UserSearch.php"
Hi,

There is a bug in line 96 in https://github.com/dektrium/yii2-user/blob/master/models/UserSearch.php

It should be:
$table_name = $query->modelClass->tableName();

instead of the current one:
$table_name = $query->modelClass::tableName();

[2017-07-29 12:58] reza7rm opened #949 "admin role not working using AccessRule"
Hi the admin role does't work , my yii2-use module in config is:
[code]

then in my controller I have:

[code]

but when I login using admin user it doesn't authorize me ! changed 'roles' => ['admin'], to 'roles' => ['@'], it works but obviously for all users not just admin.

Is there anything else I should do to enable admin role?

| Yii2 version 2.0.11      |
| Yii2-user version 0.9.12|
| PHP ve

[2017-07-30 11:14] #949 closed

[2017-08-01 13:55] ferllings commented on #874
@mateuszmalek I'm not exactly sure what fixed it: I generated a new yii advanced app, and I did a diff on all the config files

[2017-08-04 10:40] yasiralijaved opened #950 "Restful API Development"
Hello every one. Is there any one who is even **planing** to write **RestFul API** for this extension?
Thanks

[2017-08-05 17:56] ultra2mh opened #951 "cant extend controller"
i extended registrationform controller as below: but i cant access my varible in view ... is my web.php configuration right?

namespace app\controllers;

use app\models\AuthItem;
use dektrium\user\models\RegistrationForm;
use yii\web\NotFoundHttpException;

use dektrium\user\controllers\RegistrationController as BaseRegistrationController;

class RegistrationController extends BaseRegistrationCont

[2017-08-05 18:01] buttflattery commented on #951
you need o place your controllers and views inside user folder, which you havent, it should be frontend/controllers/user/RegistrationController
and frontend/views/user/viewname

[2017-08-05 18:02] buttflattery commented on #951
in your case it should be app/controllers/user

[2017-08-05 19:09] ultra2mh commented on #951
now config file is :
[code]
and  i put registrationController inside user folder  with namespace:
`namespace app\controllers\user;
`
but still i dont have my parametr its not working :(

[2017-08-06 04:50] ultra2mh opened #952 "correct view path for extended controller"
i override registrationController as below but i get register view path not found error  what shoud it be ?
register file path is views/user/registration/register.php
my controller path is controller/user/registrationController.php

i changed it to ` return $this->render('user/registration/register', [
            'model'  => $model,
            'module' => $this->module,
            'authItems' =

[2017-08-06 09:40] kepingatp opened #953 "How do I can temove Signup in Login Page permanently?"
Hi, I'm using this widget in yii2 basic. I need to remove Sign Up and Email didnt receive link in login page. I've removed it by editing _vendor/yii2-user/views/security/login.php_ file, but it not what I need, it give me nothing if I copy the application into another pc(without vendor dir) and re-install composer.
What I need is how to remove it permanently?

Sorry for my bad english.
Thanks.

[2017-08-07 03:11] #951 closed

[2017-08-07 03:11] #952 closed

[2017-08-07 03:14] ultra2mh opened #954 "Swift_TransportException"
i get this errror after i override my registrationcontroller ...
why
[code]

[2017-08-07 03:16] ultra2mh commented on #954
it is my web.php config file

`'components' => [
        'mailer' => [
            'class' => 'yii\swiftmailer\Mailer',
            'transport' => [
                'class' => 'Swift_SmtpTransport',
                'host' => 'smtp.gmail.com',
                'username' => 'wwwxdeveloper@gmail.com',
                'password' => '*******',
                'port' => '587',
                'encryptio

[2017-08-09 17:41] MagSag opened #956 "Class dektrium\user\clients\LinkedIn does not exist"
Configure LinkedIn for authentication?

The result expected was the authentification with linkedin to work but   I get ReflectionException
Class dektrium\user\clients\LinkedIn does not exist

I am using version 0.9.5 I tried to update using the command composer update dektrium/yii2-user but it says :

![updatefal](https://user-images.githubusercontent.com/13017395/29135288-4b8b4eb4-7d42-11e7-8ba4-

[2017-08-09 17:41] MagSag opened #957 "Class dektrium\user\clients\LinkedIn does not exist"
Configure LinkedIn for authentication?

The result expected was the authentification with linkedin to work but   I get ReflectionException
Class dektrium\user\clients\LinkedIn does not exist

I am using version 0.9.5 I tried to update using the command composer update dektrium/yii2-user but it says :

![updatefal](https://user-images.githubusercontent.com/13017395/29135288-4b8b4eb4-7d42-11e7-8ba4-

[2017-08-09 18:26] MagSag opened #958 "Unknown Property – yii\base\UnknownPropertyException Getting unknown property: dektrium\user\models\Account::email"
After select the account to log in with for google plus, I was expecting to be redirected back to the application instead of that I got an error saying :
Unknown Property – yii\base\UnknownPropertyException Getting unknown property: dektrium\user\models\Account::email

I am scared the same error to happen when users choose facebook to because, facebook it self ask people either their phone Number

[2017-08-09 19:20] MagSag opened #959 "Fatal error: Undefined class constant 'EVENT_AFTER_AUTHENTICATE' in C:\wamp\www\ware\config\web.php on line 5"
I followed what is said in the documentation for using social network authentification and tried to put

[code]
In my web.php configuration file before the parameter loading `$params = require(__DIR__ . '/params.php');` line as I am using basic template; but I am getting the error :

` Fatal error: Undefined class constant 'EVENT_AFTER_AUTHENTICATE' in C:\wamp\www\ware\config\web.php on line 5`
I

[2017-08-10 10:24] MagSag commented on #956
I have sorted the problem; it was because of the version of dektrium/yii2-user version that I was using; I have update it to 0.9.12 from 0.9.5.

[2017-08-10 10:24] #956 closed

[2017-08-10 10:25] #957 closed

[2017-08-10 10:26] MagSag commented on #958
This was because I didn't execute the migration of the new version of this package(0.9.12); I was using the version (0.9.5). the problem is no longer there.

[2017-08-10 10:27] #958 closed

[2017-08-10 10:28] MagSag commented on #959
Problem solved after updating the package using composer from  version 0.9.5 to point 0.9.12.

[2017-08-10 10:28] #959 closed

[2017-08-10 10:33] MagSag opened #960 "Social Network Logging in : Argument 1 passed to {closure}() must be an instance of AuthEvent, instance of dektrium\user\events\AuthEvent given"
**What steps will reproduce the problem?**
Choosing to log in using one social network; I tried with linkedin.

**What is the expected result?**
User to be logged in.

**What do you get instead?**

**Yii2 2.0.12
Yii2-user 0.9.5
PHP 6**

[2017-08-11 14:50] MagSag commented on #960
hey can anyboday help here!!!

[2017-08-12 07:38] machour commented on #960
change `function (AuthEvent $e) {` to `function (\dektrium\user\events\AuthEvent $e) {`

[2017-08-13 21:43] bitdevelopment opened #961 "Is project still active?"
Is everything okay, it seems that commits stopped way back in January?

[2017-08-17 07:47] grozzzny opened #962 "Incorrect access to static class member"
https://github.com/dektrium/yii2-user/blob/73e1c3b247b276b8b0071f4888cffabc15443d04/models/UserSearch.php#L96

$model = $query->modelClass;
$table_name = $model::tableName();

[2017-08-17 18:19] septemberboy7 commented on #936
I use something like this.

\dektrium\user\models\User::findOne(['id'=> Yii::$app->user->id])->isAdmin

[2017-08-18 07:53] myomyintaung512 commented on #936
You can use
[code]

Duplicate of #201

[2017-08-21 03:41] myomyintaung512 opened #963 "Too Many Redirect on HTTPS with checked remember me"
### What steps will reproduce the problem?
https with remember me check box  got error ERR_TOO_MANY_REDIRECTS

### What is the expected result?
Logged in
### What do you get instead?
error ERR_TOO_MANY_REDIRECTS

| Q                 | A
| ----------------- | ---
| Yii2 version      | 2.0.5
| Yii2-user version | 0.9.12
| PHP version       | 5.6

[2017-08-21 23:06] SashaDesigN opened #964 "I think I found a bug in Profile settings saving action"
### What steps will reproduce the problem?
Try to edit and save ```/user/settings/account```
When I did this. it validate data but didnt save it after validation was fine.

### What is the expected result?
Data must be saved as on ```/user/settings/profile``` page

### What do you get instead?
After validation request, it sent new request to save the data but it validates it via ```performAjaxVali

[2017-08-23 16:38] kepingatp opened #965 "User registration without confirmation"
Hi, that is possible to set user registration without sending an email confirmation?

For example, admin create new user, and the application didn't send any message to the registrated email.
I need the app like this because I dont want connect to any SMTP.

Thanks.

[2017-08-24 14:03] miolae commented on #965
Hi, @kepingatp!
Please look at the documentation: https://github.com/dektrium/yii2-user/blob/master/docs/configuration.md#enableconfirmation-type-boolean-default-value-true
Is that it?

[2017-08-25 04:22] kepingatp commented on #965
Hi Viktor,

No, it's not what I need. In that configuration only can set autoConfirm
but the widget still send notification mail into the new registered mail.

On Thu, Aug 24, 2017 at 9:03 PM, Viktor <notifications@github.com> wrote:

[2017-08-26 21:43] Eseperio opened #966 "TIP: Autologin after register"
I have seen many posts (#730,#685) talking about auto login after registration. But all of them miss something important, check if the user is really the user.  They only search on database a user with same email and name, but does not check the password. If user "unique" validation fails an attacker could log via register form.
 Here is a simple way to do it with a behavior in main configuration.

[2017-08-26 22:10] #966 closed

[2017-08-26 23:11] Eseperio opened #967 "TIP: Limit access to backend only to admins (Advanced app)"
I was searching for a good way to prevent login in my app backend, and end up with the following snippet. This prevents login from everyone that is not an admin.
As you can see we put it in components instead of modules because the event we use is from Yii core user class.

[code]

[2017-08-28 12:56] Eseperio commented on #965
You should override `\dektrium\user\Mailer` and create an empty public function called `sendWelcomeMessage`. By now there is no other way to do this.

[2017-08-30 00:08] Eseperio commented on #961
@dektrium, Could you confirm if this project is continued?

[2017-08-30 07:01] GermanIgortsev opened #969 "RecoveryController::EVENT_AFTER_TOKEN_VALIDATE not trigered"
### What steps will reproduce the problem?
Click to expired recovery password link.

### What is the expected result?

- Trigered RecoveryController::EVENT_AFTER_TOKEN_VALIDATE ,

- Set flash error message and redorect to login page

- Display error message

### What do you get instead?

### Additional info

Setup redirect to login and display wrong message about link

` 'on ' . \dektrium\user\con

[2017-08-30 11:49] faenir commented on #961
https://github.com/2amigos/yii2-usuario

[2017-08-30 12:05] Eseperio commented on #961
@faenir That is another project, based on this one, but the question is if this project is being currently mantained. If not should have a notification in readme.md.

[2017-08-30 13:08] kepingatp commented on #574
I'm using Yii2 basic template, I've set 'enableFlashMessages' => false inside web.php but it still show duplicate flash. Why it didn't work for me? Any suggestion?
Thanks

[2017-08-31 15:53] faenir commented on #961
@Eseperio #903

[2017-09-05 16:04] madeadi opened #971 "global config/mailer.php (Yii::$app->mailer) is overwritten"
If I have a global mailer configuration in config/mailer.php, this line of code will overwrite the `path` of the view file.

https://github.com/dektrium/yii2-user/blob/73e1c3b247b276b8b0071f4888cffabc15443d04/Mailer.php#L268-L269

[2017-09-07 11:45] buchenko opened #972 "set username lenth for pgsql"
### What steps will reproduce the problem?
creating a user whose username is more than 25 characters
### What is the expected result?
creating a new user
### What do you get instead?
Database Exception – yii\db\Exception
SQLSTATE[22001]: String data, right truncated: 7 ERROR: value too long for type character varying(25)
### Additional info

| Q                 | A
| ----------------- | ---
| Yii2

[2017-09-12 15:01] ptcrank commented on #940
I am a beginner programmer. I hope to be right. But I think
You use the createUrl method directly. It has no relation to the rules

You can create a custom class (extend from `UrlManager` class)
Or change the `createUrl` method in `UrlManager.php`

## For example :
[code]

---
***
## Additional:

You can use the `end()` method (version | 2.0.12 )

[code]
Yii2 version | 2.0.12
------------ | ------

[2017-09-14 02:28] omer-sds commented on #940
Dude you  are going places :D rrather than all the stuff you suggested , if you update the rule from
`<username:\w+>`  to `<user:[\w\.]+>` the problem is solved you dont have to extend the urlmanager and add all this because it is not urlmanager class work it is the actual regular expression that was problematic , but dude 😄 seriously.

[2017-09-15 09:00] ANulikJan opened #974 "can't configure module"
### I can't configure and use module in right way, don't know what is the problem.

### I am using advanced template and here is my main.php for backend

[code]

### When I go to http://localhost/g-connector/backend/web/user/admin
I get this .

### What is wrong with configuration

in composer.json I have this

[code]

| Q                 | A
| ----------------- | ---
| Yii2 version      | 2
| Yii

[2017-09-24 18:11] ponc83 commented on #215
dmeroff solution worked for me

[2017-09-29 15:47] khikmatullaev opened #976 "Login in controller action"
I have a need to login in the action of controller. In this case, I have an access to the user table in the database.
Would you like to help me how to login in the controller's action?

[2017-09-29 16:35] khikmatullaev commented on #976
Find the solution of the suggestion.

[code]

[2017-09-29 16:36] #976 closed

[2017-10-02 19:04] gorets commented on #896
This problem is not resolved!
I am authorized on two different computers under the same account.

[2017-10-09 13:43] ptcrank commented on #940
Hello

I know that every address is possible with routing.
But your question is in the form of a different impression!
Like print - Direct use of createUrl and ...

Anyway good luck.  I am glad that the problems have already been resolved.

[2017-10-11 09:56] SkyTaurus opened #979 "Login and Register from modal windows"
I need to register and authorize users from the main page (site/index). These I need to do from modal windows. What is the best way to implement this, so that validation works? I tried using widget for authorization (Login), but it does not show errors.
I know that this is not a bug, but this feature is very much in demand.

[2017-10-11 12:55] gomonkey opened #980 "Question database flags column"
I see that I have "flags" column in database.
What is that?

[2017-10-16 22:06] MarioPerez92 commented on #867
Hello, I decided to create a new database, without tables. Then change the name of the database to: C: \ wamp64 \ www \ advanced \ common \ config \ main-local.php And run the commands: yii migrate / up --migrationPath = @ vendor / dektrium / yii2-user / migrations. Good day.

[2017-10-26 14:32] wardjk commented on #922
Similar broken link:
Go to https://yii2-user.dektrium.com/
Follow the link in "If you're using Yii2 advanced template, you should read this article firstly." which goes to
https://yii2-user.dektrium.com/docs/usage-with-advanced-template
Result:
Error (#512)
An internal server error occurred.
The error occurred while the Web server was processing your request.
Please contact us if you think this is

[2017-10-27 15:09] Isan26 commented on #328
Helped me too..thanks

[2017-10-29 01:41] etopian opened #982 "Redirect to page before login"
The following needs to be in the documentation somewhere, it's explains how you do a redirect back to the page after you are redirected to login.
[code]

[2017-11-04 09:34] cyberaleks opened #984 "Cannot use yii\base\Object as Object because 'Object' is a special class name"
The class Finder extends from Object. That is not allowed in YII 2.0.13 and an error is thrown.

[2017-11-04 16:43] petartonchev opened #985 "Missed curly bracket in the update_tables migration"
There is a missing curly bracket on line 56 where it's written `'{{%user_recovery}'` it should be `'{{%user_recovery}}'` instead.
https://github.com/dektrium/yii2-user/blob/73e1c3b247b276b8b0071f4888cffabc15443d04/migrations/m140504_113157_update_tables.php#L56

[2017-11-07 09:08] DarkDrim commented on #896
https://github.com/samdark/yii2-cookbook/issues/92
Could be solved by using DB sessions and writing additional info into the table:

`'session' => [
    'class' => 'yii\web\DbSession',
    'writeCallback' => function ($session) {
        return [
           'user_id' => Yii::$app->user->id,
           'last_write' => time(),
        ];
    },
],`

-- Kill user sessions. You need to invalidate user

[2017-11-13 07:16] MadSkillzSpectrum commented on #979
Same issue here
Widget just sends me on login page. Login page works correctly

[2017-11-28 16:13] xushaun commented on #430
@myomyintaung512   great job Thanks, I have encounter same paroblem

[2017-11-28 20:53] sinaboromand opened #988 "Integration adminlte theme"
Hi
How to integrate adminlte theme ?

| Q                 | A
| ----------------- | ---
| Yii2 version      | ~2.0.6
| Yii2-user version | ^0.9.12
| PHP version       | 5.6

[2017-11-29 04:59] yoyhosoft commented on #903
Any update?

[2017-11-29 07:59] bscheshirwork commented on #903
+1

[2017-12-01 10:30] #988 closed

[2017-12-04 10:49] Alexufo opened #990 "feature request: email to auth"
As medium.com suggest good option for get login by magic link on email. No passwords no more "fogot  password?" and etc.

[2017-12-04 15:50] Ziggizag opened #991 "InnoDB deadlocks"
Hi Dmitry!

As our application grows and we have rapid traffic increase, we observe this sort of issue during user registration:

[code]
This is annoying, as the result is that multiple registration e-mails are being resent to given user i short time (a screenshot from mailer server):

[](http://i.imgur.com/zEEXBYp.png)

[2017-12-06 03:59] marty-macfly opened #992 "PHP 7.2 compatibility"
### What steps will reproduce the problem?

Use php 7.2

### What is the expected result?

Yii-user should work

### What do you get instead?

Yii-user not working with the following error:

[code]

### Additional info

| Q                 | A
| ----------------- | ---
| Yii2 version      |  2.0.13
| Yii2-user version | 0.9.12
| PHP version       |  7.2.0

[2017-12-06 11:01] bscheshirwork commented on #992
I create PR.

[2017-12-06 12:11] bscheshirwork commented on #984
#992

[2017-12-11 20:11] Martin-Hogge commented on #743
I know this is closed but I want to achieve the same and the forum seems down (ERR_CONNECTION_TIMED_OUT). I don't know where to ask so I ask it here: is their a solution to redirect after login? Thank's.

[2017-12-12 08:09] nayoma opened #995 "Error in enableUnconfirmedLogin"
### What steps will reproduce the problem?
I config enableUnconfirmedLogin in config file. but, I got error.
"Setting unknown property: dektrium\\user\\Module::enableUnconfirmedLogin "
### What is the expected result?

### What do you get instead?

### Additional info
#
<img width="675" alt="capture" src="https://user-images.githubusercontent.com/29333716/33873792-58296018-df42-11e7-9d27-adce27fd5

[2017-12-18 11:02] kshitizsingh commented on #984
i'm recieving the same error

[2017-12-21 10:42] StalkAlex commented on #992
15 days last... Is anybody going to merge those fixes for 7.2?

[2017-12-21 16:53] AlexKr94 opened #998 "Installing problem"
After `composer require "dektrium/yii2-user:0.9.*@dev"` i got message:

What is the problem?

[2017-12-27 16:04] thiagotalma commented on #934
Fixed!

[2017-12-27 16:04] #934 closed

[2017-12-27 16:19] #890 closed

[2017-12-27 16:57] thiagotalma commented on #921
Fixed in https://github.com/dektrium/yii2-user/commit/a025d446c6d512ef042d30211107a2f336b86734
Thanks!

[2017-12-27 16:57] #921 closed

[2017-12-27 17:07] #967 closed

[2017-12-27 17:14] thiagotalma commented on #984
Fixed by https://github.com/dektrium/yii2-user/commit/ad757cd086e395ace15a04b17c635bb90d8625d2

[2017-12-27 17:14] #984 closed

[2017-12-27 17:14] thiagotalma commented on #992
Fixed by https://github.com/dektrium/yii2-user/commit/ad757cd086e395ace15a04b17c635bb90d8625d2

[2017-12-28 03:56] StalkAlex commented on #992
@thiagotalma , it's not a fix. You just lowered php version, now it won't install at all. And this issue was about working on php 7.2, not about making versioning more correct.

[2017-12-28 14:29] thiagotalma commented on #998
Please, check now.

[2017-12-28 14:30] thiagotalma commented on #995
Please, check your config.

[2017-12-28 14:30] #995 closed

[2017-12-28 14:31] thiagotalma commented on #985
Already fixed.
Thanks!

[2017-12-28 14:31] #985 closed

[2017-12-28 14:34] thiagotalma commented on #974
this is wrong: `'identityClass' => 'dektrium\user\Module',`

[2017-12-28 14:34] #974 closed

[2017-12-28 14:35] thiagotalma commented on #962
Fixed.
Thanks!

[2017-12-28 14:35] #962 closed

[2017-12-28 14:47] thiagotalma commented on #903
I took advantage of the holiday at the end of the year to give a work in this project.
I solved some PRs and issues.

I will do my best to keep the project running, without breakages.
But I confess that it will be difficult to implement new features without @dmeroff

This is a widely used and widespread project among Yii2 developers. I do not think the solution is to create forks and keep parallel

[2017-12-28 15:22] philippfrenzel commented on #903
@thiagotalma maybe you can add another 2 maintainers to the project to review pull requests and merge them if needed - the forking happened because of no possibility to change the master tree... I highly appreciate your work and the work from @dmeroff so keep going and yii2-user is an amazing extension!

[2017-12-28 15:29] yoyhosoft commented on #903
Is @dmeroff still alive but he busy right?

[2017-12-28 15:34] thyseus commented on #903
Nobody knows. His last sign of life was about 10 months ago here. We should definitely keep a look at
https://github.com/2amigos/yii2-usuario and we should try to keep contact with them. It looks really promising and could be yii2-user on steroids in the future :)

[2017-12-28 15:48] yoyhosoft commented on #903
Yea, he still alive, I saw he keep posting pictures on Instagram lol.

[2017-12-28 15:53] thyseus commented on #903
Probably he switched to .NET or Visual Basic </sarcasm>

[2017-12-28 15:57] thyseus commented on #903
Or to ZEND Framework.

[2017-12-28 16:33] #923 closed

[2017-12-28 16:51] thiagotalma commented on #903
@philippfrenzel I really wanted to do this! The problem is that my user is not allowed to include members in the project. So I asked for help with the reviews for the comments.

I just got in touch with Dmitry asking him to give me permission to include new members. Let's wait....

[2017-12-28 16:58] thiagotalma commented on #992
@StalkAlex What do you suggest to solve the problem?

[2017-12-28 17:07] StalkAlex commented on #992
@thiagotalma problem in "object" word, it became reserved, so I propose to inherit from BaseObject instead of Object as yii team described in change log where it used in code.

[2017-12-28 17:46] thiagotalma commented on #992
check now

[2017-12-28 21:08] nakarin4350 commented on #982
I got this after trying this config.
Invalid Configuration – yii\base\InvalidConfigException
User::identityClass must be set.`
`

[2017-12-28 21:45] philippfrenzel commented on #903
@thiagotalma - understand, so @dmeroff pls. let everyone help and join sources together ! ;)

[2017-12-29 11:24] abdulmanan7 commented on #337
Do we have any controller event for After Login .
I see here
https://github.com/dektrium/yii2-user/blob/master/docs/using-controller-events.md

for Registration

[2017-12-29 22:26] #992 closed

[2018-01-02 14:30] wzh190015 commented on #992
update?

[2018-01-02 16:02] thiagotalma commented on #992
Have you found a problem?

[2018-01-03 00:07] nakarin4350 commented on #574
'modules' => [
        'user' => [
            'class' => 'dektrium\user\Module',
            'enableUnconfirmedLogin' => true,
            'confirmWithin' => 21600,
            'cost' => 12,
            'admins' => ['administrator'],
            'enableFlashMessages' => false,
        ],
    ],

[2018-01-04 21:33] AlexKr94 commented on #998
Thank you, it work!

[2018-01-09 10:23] MagSag opened #1000 "Allow user to register and login using their phone number."
### What is the expected result?
A user who doesn't have an email or doesn't want to use an email to register or login can use a phone number.

[2018-01-09 13:15] diego-betto commented on #743
Temp Workaround: solved setting products page as home page and accessible only when authenticated.

[2018-01-09 17:31] thiagotalma commented on #903
A long time ago Dektrium added me as a member because I was helping with some PR.

But I can not assume as a maintainer, unfortunately I do not have enough time to take such responsibility.

I took advantage of my holidays at the end of the year to accept some PR that were outstanding. I also sent an email to Dektrium requesting to add me as a project admin so that I could add more members to help

[2018-01-09 17:36] thyseus commented on #903
@thiagotalma I totally agree. Lets put all our efforts and power into yii2-usuario. The move over is not that complicated, because it also is a fork of dektrium/yii2-user.

[2018-01-09 17:43] thiagotalma commented on #903
Okay, but first the efforts must be in order to inactivate this project with perfect working conditions. Totally stable.

[2018-01-09 17:43] vsmelarkod opened #1001 "What is the difference between v0.9.12 and Master?"
Thank you.

[2018-01-09 17:51] thiagotalma commented on #1001
"yiisoft/yii2": "^2.0.13",

[2018-01-09 17:51] #1001 closed

[2018-01-09 17:54] mnglkhn commented on #903
So far it seems to work fine on 7.1

[2018-01-10 11:58] bscheshirwork commented on #903
For example: I have error in tests on page /index-test.php/user/admin/update?id=1 and
/index-test.php/user/admin/create - don't see validation error on empty fields

[2018-01-10 12:47] bscheshirwork opened #1002 "Admin actions create/update user don't work on php 7.2 (headers already send)"
### What steps will reproduce the problem?
try to run acceptance tests on 7.2
https://github.com/bscheshirwork/yii2-app-advanced-rbac/blob/master/backend/tests/acceptance/CreateUserCest.php
https://github.com/bscheshirwork/yii2-app-advanced-rbac/blob/master/backend/tests/acceptance/UpdateUserAccountCest.php

### What is the expected result?
success

### What do you get instead?
[code]

also I can

[2018-01-10 13:38] #1002 closed

[2018-01-10 23:26] cornernote commented on #874
I managed to trigger this same error, the stack started with "An Error occurred while handling another error".  Also `YII_DEBUG=0` so that it tries to render an error page using your site's template.  Hope this helps.

[2018-01-11 08:42] bscheshirwork commented on #936
#986

[2018-01-11 11:42] #936 closed

[2018-01-12 12:50] nfacha opened #1004 "Feature Sugestion"
It would be a good addon for this extension to support two factor authentication

[2018-01-14 22:00] #998 closed

[2018-01-16 17:27] jkmssoft commented on #980
Flags is for example used to store if user has email confirmed:
`NEW_EMAIL_CONFIRMED`
See for example in file
https://github.com/dektrium/yii2-user/blob/b7180b29f3f0673b4ee5f19f5974cc2e95b93cd6/models/User.php

[2018-01-20 07:57] thanhkhanhcntt opened #1007 "Override Registration Form not working."
HI Dektrium,

I added new field phone_number to user table and override User and Registration class, and also override register form, but it throw error RegistrationForm does not have phone_number field, I check and see it use the OLD RegistrationFrom, not my overriding. What step was I missed? Need to override controller ? Please help

[2018-01-22 13:05] Ziggizag opened #1008 "STUPID ERROR ADDED TO ModuleTrait.php"
There was modification introduced in ModuleTrait.php adding this code:

[code]

This effectively breaks the application in case any relation to User is used in console mode. Please - undo!!!

[2018-01-22 14:37] SamMousa commented on #1008
@thiagotalma feel free to close this issue.

As explained here: https://github.com/dektrium/yii2-user/commit/4b06f2b057b488091ae91f77e749890e189c7376#commitcomment-27019680

This is a configuration issue that can easily be resolved.

[2018-01-22 15:06] Ziggizag commented on #1008
@SamMousa

You have added changes to this fundamental module what effectively rendered production application broken since composer update. There was neither warning nor changelog info on the subject. Just "BUM".

Sure - you may complain people get upset on that. There is no liability on open source...

[2018-01-22 15:08] SamMousa commented on #1008
That's what happen if you couple your application to implementation details, the generic documentation of this module tells you to configure it, the fact that you did not means you did not follow instructions.

Regardless of whether you are upset or not, it doesn't give you the right to show disrespect.

[2018-01-22 15:21] thiagotalma commented on #1008
@Ziggizag you may be helpful by sending a PR with the fix for the problem.
Any further discussion is unnecessary.

[2018-01-22 15:21] #1008 closed

[2018-01-22 15:22] #944 closed

[2018-01-22 15:23] SamMousa commented on #1008
Okay, @Ziggizag apologized so we're good for now.

Some explanation regarding your issue:
1. The whole module should be seen as unit of coupling; that means that you MUST not assume you can use parts of the module without setting it up correctly.

2. The models in this module always have depended on the `Module` to be configured, you just got lucky and didn't call some methods on the model that ca

[2018-02-08 23:15] dcwq opened #1011 "Yii2 problem with the authentication and ajax requests"
### What steps will reproduce the problem?
Firefox, Yii2, dektrium\user module

### What is the expected result?
1. Login error - JSON response with errors
2. Login success - 302 redirection to dashboard page

### What do you get instead?
1. HTML response with login page (isAjax return false, method performAjaxValidation not run but X-Requested-With: XMLHttpRequest send ok)
2. 302 not working, in

[2018-02-12 21:46] hiasl commented on #778
same problem btw. for the console commands. they also do not know the option --db=something, like this:
`./yii --db=helperdb user/create ...`

[2018-02-19 04:15] numkms commented on #979
Firstly u should use link with modal target and href for a action that render a login/register page.
as example
`<a href="/site/modal-login" data-toggle="modal" data-target="#modal">Login</a>`
So in your controller
 `public function actionModalLogin(){
     if(Yii::$app->request->isAjax){
           //load model, validate it and so on
          $this->renderAjax('modal-login',$params);
    } else

[2018-02-19 15:57] ondics opened #1012 "Gitlab as authclient"
How to connect to a private Gitlab service as oauth provider?
Is there an authclient for Gitlab available?

[2018-02-19 16:37] thiagotalma commented on #1012
This guy who is responsible for authentication: https://github.com/yiisoft/yii2-authclient

[2018-02-19 16:37] #1012 closed

[2018-02-25 19:23] devquora commented on #921
[T_PAAMAYIM_NEKUDOTAYIM](https://www.onlineinterviewquestions.com/core-php-interview-questions/) is scope resolution operator used as :: (double colon) .Basically, it used to calling static methods/variables of a Class.

Example usage:-
 $Cache::getConfig($key);

[2018-03-01 14:15] mmodabashi commented on #924
I solved this by replacing the static call with an instance call

`public function search($params)
    {
        $query = $this->finder->getUserQuery();

        $dataProvider = new ActiveDataProvider([
            'query' => $query,
            'sort' => ['defaultOrder' => ['created_at' => SORT_DESC]],
        ]);

        if (!($this->load($params) && $this->validate())) {
            return $da

[2018-03-03 13:47] co2nut commented on #925
May I know how did you map the class in config?

[2018-03-09 14:13] farzam7777 opened #1015 "No Controller and View found"
I installed the dektrium yii2-user following all the steps mentioned in installation guide. After installing I could neither see user controller nor views for user login and registration purposes. Please guide me if there is any command to generate views and auto generated user controller ?

[2018-03-09 17:02] #1015 closed

[2018-03-12 08:07] herzog-dev opened #1016 "Error in AJAX validation when creating a user with Yii 2.0.14"
### What steps will reproduce the problem?

Use Yii 2.0.14 and try to create a user.

### What is the expected result?

All OK.

### What do you get instead?

Error: Headers already sent in AJAX validation.

### Additional info

| Q                 | A
| ----------------- | ---
| Yii2 version      | 2.0.14
| Yii2-user version | 0.9.13
| PHP version       | 7.x

This is already fixed on master:
htt

[2018-03-12 08:28] schmunk42 commented on #1016
I wrote the above issue with another account btw. - one thing I found with this update is that our admin user is no longer allowed to access the user module.

So maybe put this "on hold" for now.

[2018-03-15 08:17] 112Legion112 opened #1017 "Independent sessions in one domain"
I think I found a bug in the config file.
I'm using yii2 advanced templed.
I couldn't login in **backend** till I changed the config of the session like follow:

[code]

https://github.com/dektrium/yii2-user/blob/0.9.12/docs/usage-with-advanced-template.md#use-independent-sessions-in-one-domain

[2018-03-15 10:27] myomyintaung512 commented on #1017
Duplicate of #430

[2018-03-15 12:21] #1017 closed

[2018-03-21 12:18] skeeran opened #1018 "same session for two apps"
Hello
iam using Yii-user for two apps

now i want if a user loged in one app that he dosnt need to login to secound app

how do i need to configuire it ?

Thank you guys for the help and great extension #

[2018-03-25 11:25] salar80 commented on #1007
you need to intro RegistrationForm to config modelMap

[2018-03-26 12:31] thiagotalma commented on #1016
@bscheshirwork you can help here, please?

[2018-03-30 08:03] bscheshirwork commented on #1016
https://github.com/dektrium/yii2-user/issues/1002

`\Yii::$app->user->can`
=>
`\Yii::$app->authManager->checkAccess`

[2018-03-30 09:55] schmunk42 commented on #1016
But the issue with "headers already sent" is fixed by https://github.com/dektrium/yii2-user/compare/0.9.13...master#diff-2f388af1765553a93fc645b750c312a4R512

My issue with by `user->can` to `authManager->checkAcess` is that it is bypassing the standard way of checking permissions for a user (we've overwritten `can()` in the user method to implement "root" access for a certain user). This change c

[2018-03-30 11:08] bscheshirwork commented on #1016
@schmunk42 get link with problem string, please. Comparative link is broken for me. This is your question?

https://github.com/dektrium/yii2-user/blob/8fd41d2629c0861cdcbcc1586cd20c8001d5bf06/models/User.php#L121-L127
this is true if current logged in user identity is a Admin

https://github.com/dektrium/yii2-user/blob/b7180b29f3f0673b4ee5f19f5974cc2e95b93cd6/models/User.php#L121-L127
this is true

[2018-03-30 11:48] schmunk42 commented on #1016
So this is the fix for Yii 2.0.14 - https://github.com/dektrium/yii2-user/commit/8fd41d2629c0861cdcbcc1586cd20c8001d5bf06

But what's this change about?
https://github.com/dektrium/yii2-user/commit/b7180b29f3f0673b4ee5f19f5974cc2e95b93cd6

[2018-03-30 12:05] bscheshirwork commented on #1016
@schmunk42 this is #986.

[code]

[2018-03-30 12:32] schmunk42 commented on #1016
Everything is fine, see https://github.com/dektrium/yii2-user/pull/986#issuecomment-377514873 :smile:

[2018-03-31 07:38] udeifendu opened #1019 "The Captcha is Throwing an Exception"
### I followed the steps for integrating the captcha.

1. Created app/models/RegistrationForm.php and pasted the following code

    <?php

    namespace app\models;

    class RegistrationForm extends \dektrium\user\models\RegistrationForm
    {
        /**
         * @var string
         */
        public $captcha;
        /**
         * @inheritdoc
         */
        public function rules()

[2018-04-02 07:59] StalkAlex commented on #1016
@schmunk42 how do you fix the problem? I'm using phd4 and seeing permission error.

[2018-04-02 08:37] bscheshirwork commented on #1016
@StalkAlex you really have permission? :smile_cat:

[2018-04-02 10:49] schmunk42 commented on #1016
I think, you need to add your root user to the user module's admin users. The fix is required.

Our issue is rooted in the fact that we rely on a custom [User component](https://github.com/dmstr/yii2-web/blob/master/src/User.php#L53) which implements to concept of root-users by overriding `can` for certain users.

[2018-04-02 11:01] StalkAlex commented on #1016
hm, not sure if understand where is the problem with real permissions. I have `Yii::$app->identity->isAdmin` check, now it returns false.

[2018-04-02 11:03] schmunk42 commented on #1016
Can you post the configuration of your user module and component, and the user you are checking.

[2018-04-02 11:14] StalkAlex commented on #1016
Yeah, I see where's problem now.
[code]
[Component](https://github.com/phundament/app/blob/master/src/components/User.php)

Check: `Yii::$app->user->identity->isAdmin`

[2018-04-02 11:42] StalkAlex commented on #1016
Ok, I fixed my problem. Thanks! There is `admins` property in user module now.

[2018-04-02 11:54] schmunk42 commented on #1016
@thiagotalma @bscheshirwork Back to the original issue, this is ready for a release ;)

[2018-04-03 12:27] thiagotalma commented on #1016
Done!

[2018-04-25 18:58] IgnitedCoder opened #1023 "2 Registration Forms"
I need to have 2 registration forms.

1. Client Registration with default fields.
2. Vendor Registration with Company Name field.

I've over ridden the RegistrationForm model to include the company name. I need to show a different RegistrationForm for different routes:

/user/register - default
/user/register-company - for registration to include new Company Name field. Of course I'll use scenario

[2018-04-30 17:45] edmondetemi opened #1024 "Moving from vendor to modules"
Is not an issue, but if any one can help in this case.

We have tried to move yii2-user from vendor to modules, but we get an error.

We have replaced all namespaces, but in the login page we get an error:
"Call to a member function where() on null" from the debug i see that every ActiveQuery that is coming from Finder is NULL (userQuery, tokenQuery, profileQuery, accountQuery).

This is what i ge

[2018-05-04 06:14] philippfrenzel commented on #1024
Did you change the code of the finder lookup?

[2018-05-04 07:02] tyradeveloper commented on #1024
Hey Philip,

Thank you for your response, i am not sure where is that exactly, but i have changed everything that points to dektrium vendor directory (including namespaces and everything else).

[2018-05-04 07:03] edmondetemi commented on #1024
Hey Philip,

Thank you for your response, i am not sure where is that exactly, but i have changed everything that points to dektrium vendor directory (including namespaces and everything else).

[2018-05-05 21:29] nfacha opened #1025 "Crash while searching user by IP"
### What steps will reproduce the problem?
Search a user by IP on the admin backend
### What is the expected result?
Not to crash
### What do you get instead?
It crashes:
![image](https://user-images.githubusercontent.com/8540172/39667685-2966fa26-50ab-11e8-96b7-06a0ec505cae.png)

Will send a pull request to fix this in a couple minutes

[2018-05-06 19:11] #1025 closed

[2018-05-07 09:17] philippfrenzel commented on #1024
and your module config looks like?

[2018-05-11 10:55] neelamharne opened #1027 "Login Google to a specific domain name only"
how to login to a specific domain name (avoid login with other domains)

[2018-05-14 11:58] gomonkey opened #1028 "[question] GDPR"
Hello,
what about GDPR consent cookie?
How I know now, we need to give them the possibility to delete user account.

Are you plan to upgrade this extension for GDPR consent roles?

thank you.

[2018-05-14 12:07] #980 closed

[2018-05-14 15:50] asilvestre87 commented on #743
@diego-betto try this:
'security' => [
                    'class' => \dektrium\user\controllers\SecurityController::className(),
                    'on ' . \dektrium\user\controllers\SecurityController::EVENT_AFTER_LOGIN => function ($e) {
                        Yii::$app->response->redirect(array('/product'))->send();
                        Yii::$app->end();
                    },

[2018-05-16 14:32] JohnnyWester opened #1029 "yii2-user + yii2-authclient popup"
Hello, can you help me. I have a problem with login via facebook. After confirming the use of my application in Facebook, I get this kind of response http://www.novum.mobi/user/login?code=AQBg6VJd3GOdCo1-8174-MDiECNWehoFfgY0vQjDo2ctQP-XL_c8p10c_dVH3uGtv7MA4v8rQiV5PWy_vdzv0-QvzDhm2d2E7xhSLGvAwodJxksE8hmUW23jlMEE1k6uapulv7R83rcSQ4y1mVOBEGQJv_F_Pu8NiVuBP2EVxJrBWojyf_a4apsY25vkI_jt-5psTUJwxoC-gL3uLC7t

[2018-05-20 19:25] e-gober opened #1030 "migrations QL SERVER 2008 Error"
Good afternoon, I'm trying to install "dektrium/yii2-user" but it marks me an error when executing migrations, I'm using SQL SERVER 2008 R2

Apply the above migrations? (yes|no) [no]:yes
*** applying m140209_132017_init

*** applied m140209_132017_init (time: 2.572s)

*** applying m140403_174025_create_account_table

*** applied m140403_174025_create_account_table (time: 1.664s)

*** applying m140

[2018-05-28 06:32] ejoful commented on #836
ALTER TABLE `user` ADD `last_login_at` INT(11) NOT NULL AFTER `flags`;

[2018-06-03 22:21] cjtterabyte commented on #903
The extension will be closed, which conclusion was reached ?, I am testing it with yii 2.1, making all the relevant changes and it works perfectly without many changes,

cc: @schmunk42 @SamMousa @philippfrenzel @thyseus @bscheshirwork @tsdogs

Because not to make a fork with several maintainers and to start from here with Yii 2.1 and Yii 2.0 for a stable version, it really is not long, it's just m

[2018-06-04 11:39] schmunk42 commented on #903
@cjtterabyte I think we'll move over to usuario for Yii 2.1. dektirum/yii2-user hopefully will get some security fixes if needed.

[2018-06-04 11:41] SamMousa commented on #903
I am no longer using this extension nor any other for that matter.
@schmunk42 thanks for the suggestion, I'll remember to check that out if I ever use one.

[2018-06-04 12:19] cjtterabyte commented on #903
@schmunk42 I have advanced the use of yii 2.1., in fact I fork, which I am working with bootstrap4, and so far it is going well.

[2018-06-04 12:51] thiagotalma commented on #903
Hi, @cjtterabyte

The extension will not be closed nor will it die.

It will continue as a zombie, attending to those who already use it.

While the Dektrium does not wake up from its deep sleep, I try to accept the most critical PRs with the help of the guys here.

[2018-06-04 13:08] cjtterabyte commented on #903
@thiagotalma perfect, you can then create a branch or repo new [dektrium/yii3-user] for yii 2.1. and start sending the PR, with the adjustments to be reviewed, in addition to its adaptation to Bootstrap4 you think?

[2018-06-04 14:22] tsdogs commented on #903
This has been widely discussed (a "fork" was created in the hope that this project would then come back online, but that hasn't happened till now)
IMHO the solution is simply to move to yii2-usuario (it is really easy and there's a very complete guide on how to do it), and we should all concentrate on the development of that.
It has all the features and most important development is going forward

[2018-06-05 15:43] LarryTX opened #1033 "First user"
### What steps will reproduce the problem?
Added ```'admins' => ['Larry'],``` to config/main
Tried  to go to /user/admin/create and create new user Larry
Immediately rerouted me to /user/login
There is no user to login. Tried to use Larry with a password; obviously that returns an error message of invalid username or password

### What is the expected result?
Be able to create first user
### What

[2018-06-05 16:35] dfpomeroy commented on #1033
@LarryTX sounds like you have a chicken-and-egg problem.  Did you try creating the Larry user via the normal (non-admin) means?

[2018-06-05 18:04] LarryTX commented on #1033
Don't know what you are talking about. As I said, I went to /user/admin/create, and it immediately redirected. I feel like these User extensions should provide clear instructions on creating the first user.

[2018-06-05 19:34] dfpomeroy commented on #1033
@LarryTX  Instead of creating your first user at /user/admin/create try doing it at /user/register

[2018-06-06 09:15] veyselsahin commented on #672
I think you have to remove this parameter because index view working without this as expected. I override views and removed dateFormat parameter.

[2018-06-11 18:59] thiagotalma commented on #903
@cjtterabyte , @tsdogs  is right.

[2018-06-11 19:41] cjtterabyte commented on #903
@thiagotalma Believe me something about the work of @dmeroff and yours has been so great that works in yii 2.1. without many modifications with bootstrap4, without major problems, so I think I'll stay better here with her, see the best pr and join them in yii 2.1.

[2018-06-14 08:16] kmergen opened #1034 "Facebook connect cannot create user because there is no password"
### What steps will reproduce the problem?
facebook connect account
### What is the expected result?
Create User in user table
### What do you get instead?
`
PDOException: SQLSTATE[HY000]: General error: 1364 Field 'password_hash' doesn't have a default value in C:\www\hundekauf-yii2\vendor\yiisoft\yii2\db\Command.php:1258
Stack trace:
#0 C:\www\hundekauf-yii2\vendor\yiisoft\yii2\db\Command.php(12

[2018-06-16 19:49] SoleSS opened #1035 "Headers already sent in app/vendor/dektrium/yii2-rbac/controllers/ItemControllerAbstract.php:144"
### What steps will reproduce the problem?
clean Yii2 advanced template 2.0.15 with yii2-user (master) / yii2-rbac (master)
(to user model was added 1 addition field)

trying to create new role using user/admin crud, after clicking save nothing happens, but in console i see an error: [] Headers already sent in app/vendor/dektrium/yii2-rbac/controllers/ItemControllerAbstract.php:144

### What is th

[2018-06-23 17:45] unsolvedru commented on #965
'modules' => [
        'user' => [
            'class' => 'dektrium\user\Module',
            'enableConfirmation' => false,
            'enableUnconfirmedLogin' => true
        ],
    ],

[2018-07-02 01:51] Shahrulhadi opened #1036 "override finder.php"
### What steps will reproduce the problem?
has a user enter email address as username when register

### What is the expected result?
user login using email address as username.

### What do you get instead?
The module looking for the email address in email field. So will fail, because the email address is in username field

### Additional info
My client want the website allow instant register. So

[2018-07-12 12:09] Islamsolnkey commented on #513
![screenshot from 2018-07-05 15 11 20](https://user-images.githubusercontent.com/14867759/42632351-78e232c6-85fa-11e8-9e65-27a2491822c6.png)

[2018-07-22 13:23] AlimovRoostam opened #1037 "Custom Widget Connect"
Hi, i need custom socials icon. I use widget Connect yii2-user

This works
[code]

This no
[code]

[2018-07-22 13:29] AlimovRoostam commented on #1037
Sorry im stupid....

[2018-07-22 13:29] #1037 closed

[2018-07-25 19:59] AlimovRoostam commented on #886
+

[2018-07-27 00:38] AlimovRoostam opened #1038 "Forgot not validate email"
/user/forgot
Does not check for existence email in database.

| Q                 | A
| ----------------- | ---
| Yii2 version     2.0.15 |
| Yii2-user version 0.9.14.0|
| PHP version    7.2|

Help me please!

[2018-07-27 00:39] AlimovRoostam commented on #1027
Google Api, set specific domain.

P.s: sorry my english

[2018-07-27 17:47] MagSag opened #1039 "Facebook redirection is loading the whole website without logging in the user"
I clicked on the button of facebook to login with it; it opened a new windows to log in facebook but after providing all the information it that window and successfully log in facebook, it loaded by going to the link : https://mydomain.com/index.php#_=_

I have configured my redirection url in my app dashboard to : https://mydomain.com/index.php-
| Yii2 version      |
| Yii2-user 0.9.12|
| PHP 7

[2018-07-30 09:23] gitrequests opened #1040 "Feature request: login by Telegram"
https://core.telegram.org/widgets/login

[2018-08-09 14:48] infoitservit opened #1041 "Facebook reject redirect_uri with slashes encoded"
### What steps will reproduce the problem?
Go here https://www.winedering.com/user/login, try to login with Facebook.
### What's expected?
Logging/Subscribing normally
### What do you get instead?
redirect_uri is not accepted.

### Additional info
The problem is that i can't add the redirect_uri to the facebook app safe url redirect cause the url is encoded ("%2f" in place of "/") and facebook don

[2018-08-10 20:46] ptcrank commented on #1016
### Hello
With new changes:
Admin setting is not affecting !!

                   'modules' => [
                         'user' => [
                             'class' => 'dektrium \ user \ Module',
                             'enableUnconfirmedLogin' => true,
                             'confirmWithin' => 21600,
                             'cost' => 12
                             'admins'

[2018-08-13 19:48] thiagotalma commented on #1038
You can make a PR?

[2018-08-13 19:49] thiagotalma commented on #1039
You can make a PR?

[2018-08-14 13:27] #1018 closed

[2018-08-14 13:30] #1000 closed

[2018-09-14 22:43] khikmatullaev opened #1043 "Authentication via Instargam"
Would you like to tell us when you want to add the instagram for authentication?

[2018-09-28 07:15] Sirgalas commented on #1035
Confirm I have the same

[2018-10-08 11:31] buttflattery opened #1044 "How to set `enableAutoLogin` or any other property for the `yii\web\User`"
In the documentation for the Install notes you have specified that we need to remove the default  user component. Ok, done that. Now i need to change the `enableAutoLogin` to `false` you are currently using `bootstrap.php` to use container and set the `enableAutoLogin`  using below code
[code]

How can i change the property to false, currently if i set the following configuration in my config file

[2018-10-10 13:34] seraos opened #1045 "Bootstrap 4"
any update forecast for bootstrap 4?

[2018-10-10 13:46] seraos commented on #1043
instagram for authentication:

web.php:

[code]

components\Instagram.php:

[code]

[2018-10-12 10:09] gopalpeddinti commented on #982
Same problem here.

[2018-10-13 07:07] shahidt opened #1047 "Captcha only after a certain unsuccessful number of attempts"
Hello. Is it possible to configure this extension to ask for a captcha after a certain number of unsuccessful login attempts? If it isn't in-built, please consider this as a feature request, since it is pretty important.

There are two places to check:
1. On the login form itself. i.e. The number of attempts in the current form (including previously loaded data) has exceeded some number
2. If the

[2018-10-13 13:14] shahidt commented on #1047
OK, actually I didn't get the captcha working. It works if I keep it required all the time, but when I used scenarios to check for number of login attempts and then set the scenario, then... while the client validation takes place, on loading the model, it does not retain the captcha value.

[2018-10-13 19:49] shahidt commented on #1047
Here's how I eventually managed to do this...

[code]
[code]

[2018-11-12 07:56] ServerDotBiz commented on #1034
I just noticed the same error in our logs, any idea what might cause this?

[2018-12-01 14:02] Martyn911 opened #1048 "How add captcha to RecoveryForm and ResendForm?"
I tried the instructions https://github.com/dektrium/yii2-user/blob/master/docs/adding-captcha.md

[2018-12-13 11:03] niciz commented on #854
same problem here!

[2018-12-17 15:56] Andreslav commented on #636
Люди добрые, помогите!

У меня та же проблема: "Class 'dektrium\user\widgets\login' not found".

Подключаю так:
[code]

Затем звоню:
`<?= Login::widget() ?>`

Причём это работает:
`<?= Connect::widget() ?>`

------

Good people, help!

I have the same problem: "Class 'dektrium\user\widgets\login' not found".

I connect this way:
[code]

Then call:
`<?= Login::widget() ?>`

And it works:
`<?= Conne

[2018-12-17 16:00] Andreslav commented on #636
Проблема решена. Опечатка в пути..

---
Problem solved. Typo on the way ..

[2018-12-21 14:43] Andreslav opened #1049 "Why is the token table empty?"
Hello!

Registered through the VK two accounts. Why is the `token` table still empty?
In `social_account`, the `code `column is empty. How to get a token? Is this possible or should it be received separately?

Foto: ibb.co/VmWfCkr, ibb.co/4N7m7rV

Regards!

[2018-12-26 21:16] Andreslav commented on #1049
close

[2018-12-26 21:16] #1049 closed

[2018-12-26 21:17] Andreslav commented on #1049
Сlose #1049

[2018-12-26 21:17] Andreslav commented on #1049
close #1049

[2019-01-12 17:38] wgxh5201 commented on #921
php版本5.6，($model::MODEL)::getList($params)，仍然出现unexpected '::' (T_PAAMAYIM_NEKUDOTAYIM)错误，为什么？

[2019-02-04 10:10] tvpnemo opened #1050 "How can i do redirect for user if error occures ?"
How can i do redirect for user if error occures ?

Bacause it is not good to show error to user.
It would be good to redirect user to other page but not to show error.

| Q                 | A
| ----------------- | ---
| Yii2 version      |2.0.15.1.
| Yii2-user version | 2.0.16
| PHP version |  7,0

[2019-02-20 14:01] JonasAeschlimann commented on #992
I have replaced "use yii\base\Object" with "use yii\base\BaseObject" direct in the vendor. I am sure its not right but it is working... What would be the better way?

[2019-03-26 19:53] moonlordx2x commented on #430
how to fix this zzz i got the same problem

[2019-04-02 15:58] Alionides commented on #1007
use dektrium\user\models\Profile as Profile;
change to this and try again

[2019-04-02 16:33] Alionides opened #1054 "new phone field comes empty on this link user/settings/account but in this link /user/admin/update?id=2 phone is shown"
Hello i added  new phone field but as i mentioned in title  phone field come empty.

### What steps will reproduce the problem?

### What is the expected result?

### What do you get instead?

### Additional info

| Q                 | A
| ----------------- | ---
| Yii2 version      |
| Yii2-user version |
| PHP version       |

[2019-04-03 13:20] Alionides commented on #548
hello i have set up phone number field everything is working except on user/settings/account page phone number comes empty from database but its exists in db. here is my overridden settingsForm.php code

`<?php
namespace app\models;

class SettingsForm extends \dektrium\user\models\SettingsForm
{
    /**
     * @var string
     */
    public $phone;
    /**
     * @inheritdoc
     */
    public fu

[2019-04-05 19:10] #868 closed

[2019-04-08 00:54] lbphp opened #1055 "HTTP 400 BadRequestHttpException on login"
### What steps will reproduce the problem?
When user submits login form, occasionally the mentioned exception gets thrown.

I am not sure this is related to yii-user or the framework itself, maybe i should refer to this https://github.com/yiisoft/yii2/issues/15783

Indeed i asked them a question but they didn't answer:

So i would reiterate the question to you: should i call regenerateCsrfToken()

[2019-04-08 11:08] SwapnilAkolkar opened #1056 "how can i create custom login validation?"
### What steps will reproduce the problem?
I am trying to authenticate user from external mobile app, I have username & password from login form in mobile app, then I wrote function in yii2 ajax call to validate the user. BUt I am not able to find user by username and password.
### What is the expected result?
the function should return user information after validation of input credential usernam

[2019-04-14 21:37] stupidusername commented on #868
Closed due to inactivity.

[2019-04-14 23:07] Webkadabra commented on #1056
kick him

[2019-04-14 23:08] Webkadabra commented on #1056
@SwapnilAkolkar are you on drugs?

[2019-04-20 16:56] SwapnilAkolkar commented on #1056
Teri maa ka bosses lawade, zar ke baal mother fucker ass hole @webkadabra

[2019-04-20 16:59] SwapnilAkolkar commented on #1056
No your father may drugs n produce you beti chod teri mala bhosada lavde ke
baal dektrium fucktroum madarchod mother fucker basterd ass hole fuck you
100000 times.. teri gand me dhanda sale tera baap chutiya madarchod

On Mon, 15 Apr, 2019, 04:38 WEBKADABRA, <notifications@github.com> wrote:

[2019-04-20 17:00] SwapnilAkolkar commented on #1056
Kick your mother @webkadabra

[2019-04-20 17:00] #1056 closed

[2019-04-20 21:01] Webkadabra commented on #1056
this is gold

[2019-04-25 07:29] faizanktk opened #1058 "Cache the yii::$app->user->identity"
How can i Cache the yii::$app->user->identity

[2019-04-25 16:31] subcat commented on #992
Hi
Im working on a new vps server with installed php 7.2.17-0ubuntu0.18.04.1
Im running into a similar error when trying to run `php yii migrate`
could you please try to explain how to overcome this? Im not a developer.

php yii migrate PHP Fatal error: Cannot use yii\base\Object as Object because 'Object' is a special class name in /var/www/html/vendor/dektrium/yii2-user/Finder.php on line 17
Err

[2019-04-29 09:57] faizanktk commented on #1058
@Quexer69

[2019-04-29 16:51] Quexer69 commented on #1058
@faizanktk I dont know why thats a question for me but I can try to help if you could explain a bit more what exactly you want to achive by caching the user identity ;)

cheers

[2019-06-18 09:33] wanjugu opened #1059 "cannot run migration using MS SQL"
### What steps will reproduce the problem?
I am running the migrate commans as below
php yii migrate/up --migrationPath=@vendor/dektrium/yii2-user/migrations

### What is the expected result?
The migration is running but producing an error as below: It seems migration is creating some tables but not able to run the Drop commands:

### What do you get instead?
in C:\xampp\htdocs\yiiuser2\vendor\yii

[2019-07-06 07:44] evecute commented on #992
when i do this, i cannot create permission it shows "SyntaxError: JSON.parse: unexpected non-whitespace character after JSON data at line 1 column 3 of the JSON data" can anyone help? with php 7.2 of course

[2019-07-07 16:37] thiagotalma commented on #903
It has an interesting PR: https://github.com/dektrium/yii2-user/pull/1061
Anyone want to help to review?

[2019-07-23 12:25] #919 closed

[2019-08-13 12:35] demonking commented on #903
If it's a Zombie, like mentioned in other Issues... why it isn't present in the Readme?

[2019-08-13 12:38] schmunk42 commented on #903
I think people should move over to https://github.com/2amigos/yii2-usuario/ - we made the switch and it was rather easy.

[2019-08-29 09:54] Stitpragya commented on #575
public function behaviors()
    {
        return [
            'access' => [
                'class' => AccessControl::className(),
                'rules' => [
                    [
                        'actions' => ['login', 'error','eventcron'],
                        'allow' => true,
                    ],
                    [
                        'actions' => ['logout'],

[2019-08-29 09:55] Stitpragya commented on #575
'actions' => [ 'index'], int his array gives list of your actions.. You can use this in anyother controller in backend too

[2019-11-01 21:41] diegotejadav commented on #695
@robwent @dmeroff, same problem here, is any new on this?

[2019-11-01 22:32] diegotejadav commented on #1043
Thank you @seraos, you answer helped me.
If someone wants to get the data that comes in the authentication response, you can see what `$this->accessToken`  contains, for my specifical case:
[code]
I had to explicitly return the 'id', if it isn't provided raises an error.

[2019-11-02 13:58] robwent commented on #695
@diegotejadav I think this project is abandoned.
Try https://github.com/2amigos/yii2-usuario

[2019-11-02 19:19] diegotejadav commented on #695
Thank you for your good advide @robwent, I'll give it a try!

[2019-11-06 15:37] gl00m commented on #743
@asilvestre87 your answer was not readable for me)) found answer myself))
should add to controllerMap **"security"** but NOT **"login"** field

[2019-11-13 04:24] Vonuki commented on #1035
something with ajax ..
works if disable in dektrium../views/role/_form
'enableAjaxValidation'   => false,

[2019-11-23 19:50] junaidcs commented on #925
[code]

[2019-12-09 03:25] becksonq opened #1065 "Fatal error after added param in __construct"
### What steps will reproduce the problem?
Code:

use dektrium\user\controllers\SettingsController as BaseSettingsController;
class SettingsController extends BaseSettingsController
{
private $_service;
public function __construct($id, $module, Finder $finder, WishlistService $service, $config = [])
    {
        $this->_service = $service;
        parent::__construct($id, $module, $finder, $confi

[2019-12-09 03:37] #1065 closed

[2019-12-24 13:09] ermGit commented on #314
@rubenheymans Did you solve this issue?  I am having the same problem with getting a 403 error.  I get the error when I do the following sequence: I login in the backend, view my frontend, and then try to return to my backend.

[2019-12-29 19:28] rubenheymans commented on #314
@ermGit it's almost 5 years ago, I switched to javascript a long time ago

[2020-01-12 17:02] gledsoneduardo commented on #695
Hello!
I was having the same problem and analyzing the code I found the answer (or I think I did)
in SecurityController.php lines 197 - 203
To login you need to find in the social_account table the user_id associated to count and the provider (twitter, facebook, etc).
If you do not find the user_id ($ account on line 197) and cannot create new user it displays the message you are receiving. Try en

[2020-01-22 20:02] faizanktk opened #1066 "Get data on basis of fields in Yii2 REST API"
I am trying to get data on basis of fields in query param ie

users/1?fields=id,name
its give id and name using findOne

{
    "id": 12,
    "name": 'Jhon'
}
When

 users?field=id,name
Its give all fields of user Model using findAll()

[
 {
  'id': 1
   'name': abc
   'age':30
   'dob':1970
   'email':abc@test.com
 },
 {
  'id': 2
   'name': abc
   'age':30
   'dob':1970
   'email':abc1@test.com

[2020-01-22 20:07] faizanktk commented on #1066
@samdark

[2020-02-13 17:39] #1045 closed

[2020-02-13 21:55] klunker opened #1067 "Key "status" is not a column name and can not be used as a filter"
### What steps will reproduce the problem?
I try to login at backend and get error

`static::findOne(['username' => $username, 'status' => self::STATUS_ACTIVE]);`
I think it happen because 'status' field not exist in table.

### Additional info

| Q                       | A
| ----------------- | ---
| Yii2 version        |  2.0.32
| Yii2-user version | 0.9.14
| PHP version       | 7.3

[2020-03-02 17:52] bigturtle88 opened #1068 "How to make one session for backend or frontend?"
I have Yii2-advanced. The backend is located **admin.url.com** frontend - **url.com**
I need so that I can use **one session** for everything. Or I need the ability to login on behalf of users. So that I can get a cookie from **admin.url.com** and use on **url.com**

| Q                 | A
| ----------------- | ---
| Yii2 version      |2
| Yii2-user version |^0.9.0@dev
| PHP version       | 7.2